<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteudo em Manutenção</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="container">
        <div class="content-box not-found-container">
            <h1>Conteudo em Manutenção</h1>
            <p>Desculpe, mas o conteudo que você está tentando acessar está temporariamente indisponivel. </p>
            <a href="/" class="home-link">Voltar para a Página Inicial</a>
        </div>
    </div>

    <%- include('partials/footer') %>
</body>
</html>
